<form [formGroup]="form" class="p-fluid">
  <div class="p-field">
    <label for="name">Container Name:</label>
    <input id="name" type="text" pInputText formControlName="name" [required]="true">
  </div>

  <div class="p-field">
    <label for="assetId">Asset:</label>
    <p-dropdown id="assetId" [options]="(assets$ | async) ?? []" formControlName="assetId"
                optionLabel="name" optionValue="id" [showClear]="true"
                placeholder="Select an asset" [required]="true">
      <ng-template let-asset pTemplate="item">
        <div>{{asset.name}} - {{asset.version}}</div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="p-field">
    <label for="containerPort">Container Port:</label>
    <p-inputNumber id="containerPort" formControlName="containerPort"
                   [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                   decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
                   incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" [required]="true">
    </p-inputNumber>
  </div>
</form>
