<form [formGroup]="form" class="deployment-form">
  <div class="form-group">
    <label for="name">Deployment Name</label>
    <input id="name" type="text" pInputText formControlName="name">
  </div>

  <div class="form-group">
    <label for="replicas">Replicas</label>
    <p-inputNumber id="replicas" formControlName="replicas" [min]="0" [step]="1"></p-inputNumber>
  </div>

  <div class="form-group">
    <label for="strategyType">Deployment Strategy</label>
    <p-dropdown id="strategyType" [options]="strategyTypes" formControlName="strategyType" optionLabel="label"
                optionValue="value"></p-dropdown>
  </div>
</form>
