.myPaletteDiv {
  position: absolute;
  top: 0px;
  left: 200px;
  background: lightcyan;
  border: 1px solid navy;
  width: 125px;
  height: 100%;
}


.left {
  float: left;
  padding: 0px;
  margin: 5px;
  height: 100%;
}
