<div class="app-container">
  <!-- PrimeNG Toolbar -->
  <p-toolbar styleClass="app-toolbar">
      <div class="p-toolbar-group-left">
          <!-- Toolbar content -->
          <h1>My Application</h1>
          <!-- Add more elements as needed -->
      </div>
  </p-toolbar>


  <!-- Sidebar -->
  <p-sidebar class="app-sidebar" [showCloseIcon]="false" [visible]="true" [modal]="false" position="left">
      <ul>
          <li><a><i class="pi pi-home"></i> Home</a></li>
          <li><a><i class="pi pi-user"></i> About</a></li>
          <li><a><i class="pi pi-envelope"></i> Contact</a></li>
          <!-- more items -->
      </ul>
  </p-sidebar>

  <!-- Main Content -->
  <div class="content-container">
      <router-outlet></router-outlet>
  </div>
</div>
