<div class="app-container">
  <div class="logo-div"></div>
  <p-toolbar styleClass="app-toolbar">
    <div class="app-toolbar-container">
      <div class="button-container">
        <ng-container *ngIf="buttons$ | async as buttons">
          <ng-container *ngFor="let btn of buttons">
            <button *ngIf="!isArray(btn.actions)" pButton
                    [label]="btn.label"
                    [icon]="btn.icon"
                    (click)="performAction(btn.actions)"
                    class="p-button-primary">
            </button>
            <p-splitButton *ngIf="isArray(btn.actions)"
                           [label]="btn.label"
                           [icon]="btn.icon"
                           (onClick)="handleSplitButtonClick(btn.actions)"
                           [model]="items"
                           styleClass="p-button-primary">
            </p-splitButton>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </p-toolbar>


  <!-- Sidebar -->
  <p-sidebar class="app-sidebar" [showCloseIcon]="false" [visible]="true" [modal]="false" position="left">
    <ul>
      <li><a (click)="navigate('/home')"><i class="pi pi-home"></i> Home</a></li>
      <li><a (click)="navigate('/clusters')"><i class="pi pi-fw pi-th-large"></i> Clusters</a></li>
      <li><a (click)="navigate('/assets')"><i class="pi pi-fw pi-briefcase"></i> Assets</a></li>
      <!-- more items -->
    </ul>
  </p-sidebar>

  <!-- Main Content -->
  <div class="content-container">
    <router-outlet></router-outlet>
    <p-toast position="bottom-center"></p-toast>
  </div>
</div>
