<section class="port-forward-list">
  <header class="port-forward-list__header">
    <div>
      <p class="eyebrow" i18n="@@settings.eyebrow.cluster">Cluster</p>
      <h1 i18n="@@portForward.title">Port Forwards</h1>
      <p class="subtitle" i18n="@@portForward.subtitle">Port forwards created by IzyKube.</p>
    </div>
    <button pButton type="button" icon="pi pi-refresh" class="p-button-text" (click)="loadForwards()" [disabled]="loading" pTooltip="Refresh" i18n-pTooltip="@@common.refresh"></button>
  </header>

  <p-table
    class="izy-table"
    styleClass="p-datatable-striped p-datatable-rounded"
    [value]="forwards"
    [loading]="loading"
    [showLoader]="false"
    [paginator]="forwards.length > 10"
    [rows]="10"
  >
    <ng-template pTemplate="header">
      <tr>
        <th i18n="@@common.namespace">Namespace</th>
        <th i18n="@@common.service">Service</th>
        <th i18n="@@portForward.local">Local</th>
        <th i18n="@@portForward.target">Target</th>
        <th i18n="@@common.status">Status</th>
        <th class="text-center" i18n="@@portForward.active">Active</th>
        <th class="text-center" i18n="@@common.delete">Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-forward>
      <tr>
        <td>{{ forward.namespace }}</td>
        <td>{{ forward.serviceName }}</td>
        <td>{{ forward.localPort }}</td>
        <td>{{ forward.targetPort }}</td>
        <td>
          <span class="status-chip" [class.status-chip--ok]="forward.active" [class.status-chip--warn]="!forward.active">
            {{ statusLabel(!!forward.active) }}
          </span>
        </td>
        <td class="text-center">
          <p-inputSwitch
            [ngModel]="forward.active"
            (ngModelChange)="toggleForward(forward, $event)"
          ></p-inputSwitch>
        </td>
        <td class="text-center">
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-text p-button-sm"
            (click)="deleteForward(forward)"
            [pTooltip]="deleteTooltip"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" class="text-center izy-empty-message">
          <span i18n="@@portForward.emptyMessage">No port forwards found.</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
