.page-container {
    display: flex;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .diagram {
    flex-grow: 3; /* Allows the diagram to take up twice the space of the config panel */
    overflow: hidden; /* Adds scrollbars if the content is larger than the container */
  }
  
  .config-panel {
    flex-grow: 1; /* Adjust the ratio as needed for your design */
    
    overflow: auto; /* Adds scrollbars if the content is larger than the container */
    border-left: 1px solid  rgba(0, 0, 0, 0.2);
  }