<form [formGroup]="form" class="cluster-form">
  <div class="form-group">
    <label for="saName" i18n="@@common.name">Name</label>
    <input id="saName" type="text" pInputText formControlName="name" placeholder="example-sa" i18n-placeholder="@@serviceAccount.namePlaceholder" />
  </div>

  <div class="form-group">
    <label i18n="@@common.namespace">Namespace</label>
    <div class="p-text-secondary">{{ namespaceDisplayText }}</div>
  </div>

  <div class="form-group">
    <label for="saAutomount" i18n="@@serviceAccount.automountToken">Automount token</label>
    <p-inputSwitch id="saAutomount" formControlName="automountServiceAccountToken"></p-inputSwitch>
  </div>

  <div class="form-group">
    <label for="saRbacProfile" i18n="@@serviceAccount.rbac.label">Kubernetes API Access (RBAC)</label>
    <p-dropdown
      id="saRbacProfile"
      formControlName="rbacProfile"
      [options]="rbacProfiles"
      optionLabel="label"
      optionValue="value"
      placeholder="None"
      i18n-placeholder="@@common.none">
    </p-dropdown>
  </div>

  <div class="kv-editor">
    <div class="kv-editor__header">
      <h4 i18n="@@common.annotations">Annotations</h4>
      <button pButton type="button" label="Add" i18n-label="@@common.add" icon="pi pi-plus" class="p-button-sm p-button-text" (click)="addAnnotation()"></button>
    </div>

    <div class="kv-editor__hint" *ngIf="!annotationsArray.length">
      <span i18n="@@serviceAccount.noAnnotations">No annotations defined.</span>
    </div>

    <div class="kv-editor__rows" formArrayName="annotations">
      <div class="kv-editor__row" *ngFor="let group of annotationsArray.controls; let i = index; trackBy: trackByIndex" [formGroupName]="i">
        <input type="text" pInputText formControlName="key" placeholder="key" i18n-placeholder="@@serviceAccount.annotation.keyPlaceholder" />
        <input type="text" pInputText formControlName="value" placeholder="value" i18n-placeholder="@@serviceAccount.annotation.valuePlaceholder" />
        <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="removeAnnotation(i)"></button>
      </div>
    </div>
  </div>
</form>
