$background-color: #1d1d1b;
.sidebar {
  height: 100%;
  width: 200px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: $background-color;
  overflow: auto;

}








