


.container {
  display: flex; /* This makes it a flex container */
  height: calc(100vh - 80px); /* Full height of the viewport minus the height of the toolbar */
  width: 100%; /* Full width of the viewport */
  margin-left: 0px; 
  padding-left: 0px;
  padding-right: 0px;

}

.first-column {
  flex: 0 0 10%; 
  height: calc(100vh - 80px); /* Full height */
  /* Additional styles for the first column (e.g., background, padding) */
  border: 1px solid black;
}

.second-column {
  flex: 1; /* This column will take up the remaining space */
  height: calc(100vh - 80px); /* Full height */
  /* Additional styles for the second column (e.g., background, padding) */
  border: 1px solid black;
}

// .resizer {
//   cursor: col-resize;
//   width: 5px; /* Resizer width */
//   height: 100%;
//   background-color: #000; /* Resizer color */
// }
