<div class="asset-list">
  <p-card class="izy-card">
    <ng-template pTemplate="header">
      <div class="card-header">
        <h2>Assets</h2>
      </div>
    </ng-template>
    <div class="card-content">
      <div class="button-container">
        <button pButton type="button" label="Add" icon="pi pi-plus" class="p-button-primary izy-button-primary"
                (click)="addAsset()"></button>
      </div>
      <p-table [value]="(assets$ | async) || []" [paginator]="true" [rows]="10" styleClass="p-datatable-rounded">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols">{{col.header}}</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-asset>
          <tr>
            <td *ngFor="let col of cols">{{asset[col.field]}}</td>
            <td>
              <div class="action-buttons">
                <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"
                        (click)="editAsset(asset.id)"></button>
                <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text"
                        (click)="updateContextMenuItems($event, asset.id)" #rowContextMenu></button>
                <p-contextMenu #cm [model]="items" [target]="rowContextMenu" appendTo="body"></p-contextMenu>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
</div>
