@import '../common_form';

.pod-form {
  @extend .form-container;

  .custom-checkbox-alignment {
    display: flex;
    align-items: flex-end;
  }
  
  .custom-checkbox-alignment p-checkbox {
    margin-right: 5px;
  }
  
  .custom-checkbox-alignment label {
    margin-bottom: 2px; /* Adjust this value to fine-tune vertical alignment */
  }
}