<form [formGroup]="form" class="pod-form">
  <div class="form-group">
    <label for="name">Pod Name:</label>
    <input pInputText id="name" formControlName="name" required>
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
      Pod name must consist of lowercase letters, numbers, and hyphens, and must start and end with an alphanumeric
      character.
    </div>
  </div>

  <div class="form-group">
    <div class="p-field">
      <label for="restartPolicy">Restart Policy:</label>
      <p-dropdown id="restartPolicy"
                  formControlName="restartPolicy"
                  [options]="restartPolicies"
                  optionLabel="label"
                  optionValue="value"
                  [style]="{'width':'100%'}">
      </p-dropdown>
    </div>
  </div>

  <div class="form-group">
    <label for="serviceAccountName">Service Account Name:</label>
    <input pInputText id="serviceAccountName" formControlName="serviceAccountName">
  </div>


  <div class="p-field-checkbox custom-checkbox-alignment mb-3">
    <p-checkbox id="hostNetwork"
                formControlName="hostNetwork"
                [binary]="true">
    </p-checkbox>
    <label for="hostNetwork">Use Host Network</label>
  </div>

  <div class="p-field">
    <label for="dnsPolicy">DNS Policy:</label>
    <p-dropdown id="dnsPolicy"
                formControlName="dnsPolicy"
                [options]="dnsPolicies"
                optionLabel="label"
                optionValue="value"
                [style]="{'width':'100%'}">
    </p-dropdown>
  </div>

  <div class="form-group">
    <label for="schedulerName">Scheduler Name:</label>
    <input pInputText id="schedulerName" formControlName="schedulerName">
  </div>

  <div class="form-group">
    <label for="priority">Priority:</label>
    <input pInputText id="priority" type="number" formControlName="priority">
    <div *ngIf="form.get('priority')?.invalid" class="error-message">
      Priority must be between 0 and 1000000000.
    </div>
  </div>

  <div class="p-field">
    <label for="preemptionPolicy">Preemption Policy:</label>
    <p-dropdown id="preemptionPolicy"
                formControlName="preemptionPolicy"
                [options]="preemptionPolicies"
                optionLabel="label"
                optionValue="value"
                [style]="{'width':'100%'}">
    </p-dropdown>
  </div>

</form>
