<form [formGroup]="form" class="mb-3 mt-3 config-map-form">
  <div appYaml formControlName="yaml" [width]="'250px'"></div>
  <div *ngIf="form.get('yaml')?.invalid && form.get('yaml')?.touched" class="text-danger">
    <div *ngIf="form.get('yaml')?.errors?.['required']">YAML is required</div>
    <div *ngIf="form.get('yaml')?.errors?.['yamlError']">
      {{ form.get('yaml')?.errors?.['yamlError']?.message }}
      <div *ngIf="form.get('yaml')?.errors?.['yamlError']?.line">
        Line: {{ form.get('yaml')?.errors?.['yamlError']?.line + 1 }},
        Column: {{ form.get('yaml')?.errors?.['yamlError']?.column + 1 }}
      </div>
    </div>
  </div>
</form>
