<form [formGroup]="form" class="mb-3 mt-3 config-map-form">
  <div formArrayName="entries" class="entries-container">

    <div class="entry-row" *ngFor="let entry of entries.controls; let i = index" [formGroupName]="i">
      <div class="input-group">
        <input type="text" pInputText class="form-control key-input" placeholder="Key" formControlName="key">
        <input type="text" pInputText class="form-control value-input" placeholder="Value" formControlName="value">
        <button type="button" class="btn btn-danger" (click)="removeEntry(i)">-</button>
      </div>
    </div>
    <div class="add-button-container">
      <button type="button" class="btn btn-primary add-button" (click)="addEntry()">
        <span i18n="@@addEntry">Add</span> <i class="pi pi-plus"></i>
      </button>
    </div>
  </div>
</form>
