<form [formGroup]="form" class="mb-3 mt-3 config-map-form">
  <div formArrayName="entries" class="entries-container">
    <div class="entry-group mb-2" *ngFor="let entry of entries.controls; let i = index" [formGroupName]="i">
      <div class="p-inputgroup mb-1">
        <input type="text" pInputText placeholder="Key" formControlName="key">
      </div>
      <div class="p-inputgroup mb-1">
        <input type="text" pInputText placeholder="Value" formControlName="value">
      </div>
      <div class="button-row">
        <button type="button" pButton label="Remove" class="p-button-danger" (click)="removeEntry(i)"></button>
        <button type="button" pButton label="Add" class="p-button-primary" (click)="addEntry()"></button>
      </div>
    </div>
  </div>
</form>