.entries-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.entry-group {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
}

.p-inputgroup {
  display: flex;
}

.p-inputgroup input {
  flex: 1;
}

.button-row {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.button-row .p-button {
  flex: 1;
}