<form [formGroup]="form" class="p-fluid service-form">
  <div class="p-field">
    <label for="name">Name</label>
    <input pInputText id="name" type="text" pInputText formControlName="name">
  </div>

  <div class="p-field">
    <label for="type">Type</label>
    <p-dropdown id="type" [options]="serviceTypes" formControlName="type" optionLabel="name"
                optionValue="value"></p-dropdown>
  </div>

  <div class="p-field">
    <label for="port">Port</label>
    <p-inputNumber id="port" formControlName="port"></p-inputNumber>
  </div>

  <div class="p-field" *ngIf="form.get('type')?.value === 'NodePort'">
    <label for="nodePort">Node Port</label>
    <p-inputNumber id="nodePort" formControlName="nodePort"></p-inputNumber>
  </div>
</form>
