<form [formGroup]="ingressForm" class="p-fluid">
  <div class="p-field">
    <label for="name">Name</label>
    <input id="name" type="text" pInputText formControlName="name">
    <small class="p-error"
           *ngIf="ingressForm.get('name')?.invalid && (ingressForm.get('name')?.dirty || ingressForm.get('name')?.touched)">
      Name is required.
    </small>
  </div>

  <div class="p-field">
    <label for="host">Host</label>
    <input id="host" type="text" pInputText formControlName="host">
    <small class="p-error"
           *ngIf="ingressForm.get('host')?.invalid && (ingressForm.get('host')?.dirty || ingressForm.get('host')?.touched)">
      Host is required.
    </small>
  </div>

  <div class="p-field">
    <label for="path">Path</label>
    <input id="path" type="text" pInputText formControlName="path">
    <small class="p-error"
           *ngIf="ingressForm.get('path')?.invalid && (ingressForm.get('path')?.dirty || ingressForm.get('path')?.touched)">
      Path is required.
    </small>
  </div>

  <div class="p-field">
    <label for="servicePort">Service Port</label>
    <p-inputNumber id="servicePort" formControlName="servicePort"></p-inputNumber>
    <small class="p-error"
           *ngIf="ingressForm.get('servicePort')?.invalid && (ingressForm.get('servicePort')?.dirty || ingressForm.get('servicePort')?.touched)">
      Service Port is required.
    </small>
  </div>

  <div class="p-field">
    <label for="serviceTarget">Service Target</label>
    <input id="serviceTarget" type="text" pInputText formControlName="serviceTarget">
    <small class="p-error"
           *ngIf="ingressForm.get('serviceTarget')?.invalid && (ingressForm.get('serviceTarget')?.dirty || ingressForm.get('serviceTarget')?.touched)">
      Service Target is required.
    </small>
  </div>
</form>
