@import '../common_form';

.ingress-form {
  @extend .form-container;


  .rules-container {
    // Styles for multiple ingress rules if applicable
    border: 1px solid #bdc3c7;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
  }
}