  <ng-container *ngIf="selectedNodeType === 'pod' || selectedNodeType === 'container'">
    <app-pod-form [selectedNode]="node"></app-pod-form>
  </ng-container>

  <ng-container *ngIf="selectedNodeType === 'deployment'">
    <app-pod-form [selectedNode]="node"></app-pod-form>
    <app-deployment-form [selectedNode]="node"></app-deployment-form>
  </ng-container>

  <!-- <ng-container *ngIf="selectedNodeType === 'configMap'">
    <app-config-map-form [selectedNode]="node"></app-config-map-form>
  </ng-container> -->
