// Import the theme
@import 'theme';

// Global imports
@import '~primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

// Use theme colors
$izy-blue: $primary-color;
$izy-light-blue: $secondary-color;
$izy-white: $background-color;
$izy-black: $text-color;
$izy-grey: $border-color;
$izy-row-light: lighten($izy-light-blue, 45%);
$izy-row-dark: lighten($izy-light-blue, 40%);

$toolbar-height: 70px;
$sidebar-width: 200px;

// PrimeIcons font face
@font-face {
  font-family: 'PrimeIcons';
  src: url('~primeicons/fonts/primeicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
}

// Sidebar styles
.p-sidebar {
  background-color: $primary-color;
  color: $izy-white;
  border: 0 none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  &.p-sidebar-active[role="complementary"] {
    width: 200px;
  }

  &-content {
    margin-top: 80px;
  }

  ul {
    list-style-type: none;

    li {
      a {
        display: flex;
        align-items: center;
      }

      i {
        margin-right: 8px;
      }
    }
  }
}


// Dropdown styles
.p-dropdown {
  width: 100%;
}

// Logo styles
.logo-div {
  position: fixed;
  background-image: url('assets/images/logo/izylife.png');
  background-size: 100px 35px;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 201px;
  height: $toolbar-height;
  z-index: 999;
}

// Context menu styles
.p-contextmenu {
  padding: 0.5rem 0;
  background: $background-color;
  color: $text-color;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 12.5rem;

  .p-menuitem-link {
    color: $text-color;
    padding: 0.75rem 1.25rem;
    user-select: none;

    &:hover {
      background-color: $hover-color;
      color: $text-color;
    }
  }

  .p-menuitem-text {
    color: $text-color;
    line-height: 2;
    margin-left: 10px;

    &:hover {
      color: $text-color;
    }
  }

  .p-menuitem-icon {
    color: $text-color;
    line-height: 2;
    margin-left: 10px;
  }
}

// Icon styles
.pi:before {
  backface-visibility: hidden;
  margin-left: 10px;
}

// Additional styles
.no-padding > * {
  padding: 0;
}

.p-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  perspective: 1500px;
}

.p-datatable {
  .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    padding: 5px 1rem;
  }

  .p-datatable-thead > tr > th {
    text-align: left;
    padding: 0.75rem 1rem;
    border: 1px solid $border-color;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: $text-color;
    background: $background-color;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
  }
}

.p-button {
  height: 44px;
  width: auto;
  background-color: transparent;
  border: none;
  color: $primary-color;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    color: $secondary-color;
  }

  &:last-child {
    margin-right: 0;
  }
}

.izy-button-container {
  display: flex;
  justify-content: flex-end;
}

.p-button-text {
  padding: 0.5rem 1rem;
  margin-right: 20px;
  width: auto;
}

/// Toolbar Styles
.app-toolbar {
  height: $toolbar-height;
  background-color:  $izy-white;
  color: $primary-color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;

  &-container {
    width: 100%;
    padding: 0 20px;
    padding-left: 200px;
    display: block;
  }

  &-content {
    @include flex-center;
    justify-content: space-between;
    height: 100%;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }


  .button-container {

    button {
      background-color: $primary-color;
      color: $izy-white;
      border: none;
      padding: 8px 15px;
      margin-left: 10px;
      border-radius: 4px;
      transition: all 0.3s ease;

      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }
  }
}

// Sidebar Styles
.app-sidebar {
  width: $sidebar-width;
  height: calc(100vh - #{$toolbar-height});
  position: fixed;
  top: $toolbar-height;
  left: 0;
  color: $izy-white;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  &.p-sidebar-active[role="complementary"] {
    width: 200px;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    @include flex-center;
    padding: 12px 20px;
    text-decoration: none;
    color: $izy-white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $izy-white;
      color: $primary-color !important;
    }

    i {
      margin-right: 15px;
      font-size: 1.2em;
    }
  }
}