.page-container {
  display: flex;
  height: calc(100vh - 80px); /* Adjust the height as needed */
  background-color: white;
}

.diagram {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 75%;
  overflow: auto;
  height: 100%;
  background-color: white;
}

.config-panel {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 300px;
  min-width: 200px;
  height: 100%;
  overflow: auto;
  margin: 10px;
  background-color: white;
}

@media (max-width: 1200px) {
  .diagram {
    flex-basis: 70%;
  }
}

@media (max-width: 992px) {
  .diagram {
    flex-basis: 65%;
  }
}

@media (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .diagram {
    height: 70%;
    flex-basis: auto;
  }

  .config-panel {
    flex-basis: auto;
    width: calc(100% - 20px);
    max-width: none;
    height: 30%;
  }
}