.page-container {
    display: flex;
    height: calc(100vh - 80px); /* Adjust the height as needed */
  }
  
  .diagram {
    flex-grow: 3; /* Allows the diagram to take up twice the space of the config panel */
    overflow-x: hidden; /* Adds scrollbars if the content is larger than the container */
    overflow-y: hidden;
    height: calc(100vh - 80px); /* Adjust the height as needed */
  }
  
  .config-panel {
    flex-basis: 400px; 
    height: calc(100vh - 80px); 
    flex-grow: 0; /* Adjust the ratio as needed for your design */
    overflow-x: hidden; /* Adds scrollbars if the content is larger than the container */
    overflow-y: hidden;
    margin: 10px 10px 10px 10px; /* Adjust the margin as needed */
  }

