<div class="container custom-container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 i18n>Create Cluster</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="clusterForm" (ngSubmit)="saveCluster()">
        <div class="mt-4 ml-4 mr-4">
          <span class="p-float-label">
            <input type="text" id="clustername" class="form-control" pInputText formControlName="name" required
                   (keyup)="clusterForm.get('name')?.markAsTouched()"/>
            <label for="clustername" i18n>Cluster Name</label>
          </span>
          <small class="text-danger"
                 *ngIf="clusterForm.get('name')?.touched && clusterForm.get('name')?.hasError('required')" i18n>
            Field is mandatory, please fill it.
          </small>
        </div>
        <div class="mt-4 pl-4 pr-4 mb-4">
          <span class="p-float-label">
            <input type="text" id="namespace" class="form-control" pInputText formControlName="namespace" required
                   (keyup)="clusterForm.get('namespace')?.markAsTouched()"/>
            <label for="namespace" i18n>Namespace</label>
          </span>
          <small class="text-danger"
                 *ngIf="clusterForm.get('namespace')?.touched && clusterForm.get('namespace')?.hasError('required')"
                 i18n>
            Field is mandatory, please fill it.
          </small>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary me-2" [disabled]="!clusterForm.valid" i18n>Save</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()" i18n>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
